<div class="main">
  <div class="container">
    <h1 class="text-center lh-lg">My Cart</h1>
    @if(cart.length === 0)
    {
      <div class="empty-cart-message">
        Your cart is empty.
      </div>
    }
    @else
    {
      <div class="products-list container d-flex flex-wrap justify-content-center pb-3">
        @for(product of cart; track product.id)
        {
          <div class="card rounded text-center">
            <div class="img-container p-3">
              <img class="img-fluid rounded" [src]="product.image" alt="{{ product.name }}" />
            </div>
            <div class="p-3 pt-0 bg-white rounded mt-3">
              <h3 class="m-2">{{ product.name }}</h3>
              <div class="quantity">
                <p class="d-inline-block me-3">Quantity: {{ product.quantity }}</p>
                <button class="btn btn-outline-rose-taupe text-center p-0 me-1" (click)="decreaseQuantity(product.id)">-</button>
                <button class="btn btn-outline-rose-taupe text-center p-0" (click)="increaseQuantity(product.id)">+</button>
              </div>
              <p>Unit Price: {{ product.price | currency }}</p>
              <p>Total: {{ (product.price * product.quantity) | currency }}</p>
              <button class="btn btn-rose-taupe form-control" (click)="removeFromCart(product.id)">Remove From Cart</button>
            </div>
          </div>
        }
      </div>
      <div class="text-center mt-3 mb-3">
        <button class="btn btn-rose-taupe" (click)="makeOrder()">Buy</button>
        <p class="h2 mt-2">Total: {{caluculateTotal() | currency}}</p>
      </div>
    }
  </div>
</div>
