/* src/app/components/cart/cart.component.css */
h1 {
  color: var(--color-10);
  font-weight: bold;
}

.products-list{ gap: 1rem; }

.card {
  border: 2px solid var(--color-7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.img-container { background-color: var(--color-7);}

.card img{
  height: 150px;
}

.card h3 {
  color: var(--color-7);
  font-size: 1.1rem;
}

.card p { color: #333; }

.quantity button{
  display: inline-block;
  width: 1.5rem;
}
.cart-actions {
  margin-bottom: 20px;
}

.empty-cart-message {
  font-size: 18px;
  color: #6c757d; /* Color for the empty cart message */
}

.cart-item-actions {
  margin-top: 10px;
}
