<div class="main">
  <header>
    <div class="cover"></div>
    <div class="userinfo text-center">
      <div class="dropdown">
        <img [src]="user.profilePicture" alt="Profile Image">
        <label for="profilePicture" data-bs-toggle="dropdown"><i class="fa-solid fa-camera fa-xl rounded-circle d-inline-block"></i></label>
        <span class="h1 d-block d-sm-inline"> {{user.userName}}</span>
        <ul class="dropdown-menu">
          <li><label for="profilePicture" class="dropdown-item">Change</label></li>
          <li><button class="dropdown-item" (click)="removeProfilePicture()">Remove</button></li>
        </ul>
        <form [formGroup]="profileImageForm">
          <input id="profilePicture" formControlName="profilePicture" accept="image/jpeg" type="file" (change)="onFileSelected($event)"/>
        </form>
      </div>
    </div>
  </header>
    <div class="container">
      <div class="nav nav-tabs pt-3">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#nav-favorite">Favorite</button>
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-history">History</button>
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-user-info">User Info</button>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="nav-favorite">
          <p class="h1">Not Implemented Yet</p>
        </div>
        <div class="tab-pane fade" id="nav-history">
          <app-orders-history class="col-md-6"></app-orders-history>
        </div>
        <div class="tab-pane fade" id="nav-user-info">
          <app-edit-profile class="col-md-6"></app-edit-profile>
        </div>
      </div>
    </div>
</div>
