<div class="main text-center mt-3 mb-3 row">
  <form [formGroup]="userForm" class="col-md-6 offset-md-3">
    <div class="input-group mt-3">
      <input formControlName="email" type="email" class="form-control" placeholder="Email" required/>
      @if(emailIsNotValid)
      {
        <span class="input-group-text col-1"><i class="fa-solid fa-triangle-exclamation"></i></span>
      }
    </div>
    @if(emailIsNotValid)
    {
      <div class="text-danger text-start">Invalid Email!!</div>
    }
    <div class="input-group mt-3">
      <input id="password" formControlName="password" type="password" class="form-control" placeholder="Old Password"/>
      @if(userForm.controls["password"].value == "")
      {
        <span class="input-group-text col-1"><i class="fa-solid fa-triangle-exclamation"></i></span>
      }
    </div>
    @if(userForm.controls["password"].value == "")
    {
      <div class="text-danger text-start">Enter The Password!!</div>
    }
    <div class="input-group mt-3">
      <input formControlName="newPassword" type="password" class="form-control" placeholder="New Password"/>
    </div>
    <div class="input-group mt-3">
      <input formControlName="confirmNewPassword" type="password" class="form-control" placeholder="Confirm New Password"/>
      @if(confermNewPasswordDoesNotMatchNewPassword)
      {
        <span class="input-group-text col-1"><i class="fa-solid fa-triangle-exclamation"></i></span>
      }
    </div>
    @if(confermNewPasswordDoesNotMatchNewPassword)
    {
      <div class="text-danger text-start">Does not match the new password!!</div>
    }
    <div class="input-group mt-3">
      <select formControlName="gender" class="form-select">
        @for(g of genders; track g)
        {
          <option [ngValue]="g">{{g}}</option>
        }
      </select>
    </div>
    <div class="input-group mt-3">
      <input formControlName="address" type="text" class="form-control" placeholder="Address" required>
    </div>
    <div class="btns mt-3">
      <button class="btn btn-outline-rose-taupe col-6" (click)="reset()">Reset</button>
      <button type="submit" class="btn btn-rose-taupe col-6" (click)="save(userForm.controls['password'].value)">Save</button>
      <app-delete-account-modal></app-delete-account-modal>
    </div>
    @if(saveDone === true)
    {
      <div class="alert alert-success text-start done">Done!!</div>
    }
    @else if(saveDone === false)
    {
      <div class="text-danger text-start">Wrong Password!!</div>
    }
  </form>
</div>
